/node_modules

# Ignore test-related files
/coverage.data
/coverage/
vitest.config.mts

# macos
.DS_Store

# source code & dev
/src/
/tests/
/.github/
.prettierrc
tsup.config.ts
tsconfig.json

# ignore assets
/assets/

# ignore docs
/docs/
